/*Universal Style & Base Fonts*/
*{
    padding: 0px;
    margin: 0px;
    
}
.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/*Common Styles*/
.primary-color{
    color: #4E47FF;
}
.bg-color{
    background-color: #F5F8FF;
}
.btn{
    background-color: #4E47FF;
    height: 48px;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    /* transition:transform 1s ease ; */
    cursor: pointer;

}

/*Heading Section*/
header{
    background-image: url(../Assets/Hero-bg.png);
    height: 698px;
    margin-bottom: 116px;
    
}
.main-area{
    max-width: 1340px;
    margin: 0 auto;
}
/*Navigation Bar*/
header nav{
    display: flex;
    justify-content: space-between;
}
header nav h3{
    font-size: 34px;
    font-weight: 900;
}
.nav-btn,.logo{
    margin-top: 50px;
}
.nav-btn{
    width: 135px;
    transition: transform 0.5s ease;
}
.nav-btn:hover{
    background-color: rgb(57, 134, 175);
    transform: scale(1.08);
}
/*Hero-Section*/
.hero-section{
    display: flex;
    text-align: center;
    flex-direction: column;      
    justify-content: center;    
    align-items: center;                         
    text-align: center;    
    
}
.Big-Title{
    width: 905px;
    font-weight: 700;
    font-size: 65px;
    margin: 0 auto;
    margin-top: 160px;
    margin-bottom: 37px;
    color: #252432;
}
.hero-btn{
    width: 174px ;
    transition: transform 0.5s ease;
}
.hero-btn:hover{
    background-color: rgb(57, 134, 175);
    transform: scale(1.08);
}
/*Main Section*/
main{
    max-width: 1340px;
    margin: 0 auto;
}
/*Action Section*/
.action-section{
    display: flex;
    justify-content: space-between;
    height: 328px;
    align-items: center;
    margin-bottom: 116px;
}
.action-title{
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 23px;
    color: #252432;
}
.description{
    width: 517px;
    font-weight: 400;
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    margin-bottom: 23px;
}
.launch-btn{
    width: 229px;
    transition: transform 0.5s ease;
}
.launch-btn:hover{
    background-color: rgb(57, 134, 175);
    transform: scale(1.08);
}
.action-section img{
    border: none;
    border-radius: 48px;
}
/*Productive User Section */
.productive-user-section{
    background-color:rgba(78, 71, 255, 0.1) ;
    height: 306px;
    border: none;
    border-radius: 24px;
    text-align: center;
    margin-bottom: 137px;
}
.user-title{
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-top: 50px;
}
.stat-container{
    display: flex;
    justify-content: space-evenly;
}
.stat h2{
    font-size: 90px;
    font-weight: 700;
    color: #4E47FF;
}
.stat p{
    font-weight: 400;
    font-size: 20px;
    color:rgba(0, 0, 0, 0.5) ;
}

/* User Review Section*/
.user-review{
    margin-bottom: 120px;
}
.review-title{
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 50px;
    text-align: center;
}
.review-cards-container{
    display: flex;
    justify-content: center;
    gap: 20px ;
}
.card{
    background-color:rgba(255, 255, 255, 0.5) ;
    border: none;
    border-radius: 14px;
    width: 367px;
    height: 243px;
    padding-left: 24px;
}
.star{
    padding-top: 24px;
    margin-bottom:24px ;
}
.card-title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 8px;
    color: rgba(30, 30, 30, 1);
}
.card-description{
    font-size: 18px;
    font-weight: 400;
    color:rgba(30, 30, 30, 1) ;
    margin-bottom: 24px;
}
.reviwer-info{
    display: flex;
    gap: 20px;
}
.reviwer-info img{
    border-radius: 50%;
}
.name{
    font-size: 20px;
    font-weight: 600;
    color: rgba(117, 117, 117, 1);
}
.date{
    font-size: 18px;
    color: rgba(179, 179, 179, 1);
}

/*Focus Better Section */
.focus-better-section{
    height: 697px;
    background-color:rgba(255, 255, 255, 1) ;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    border: none;
    border-radius: 20px;
    margin-bottom: 90px;
}
.focus-title{
    font-size: 50px;
    font-weight: 700;
    color:rgba(0, 0, 0, 1) ;
    padding-top: 71px;
}
.focus-description{
    font-size:22px;
    font-weight: 400;
    color:rgba(0, 0, 0, 0.5) ;
}
.focus-btn{
    width: 195px ;
    transition: transform 0.5s ease ;
}
.focus-btn:hover{
    background-color:rgb(57, 134, 175) ;
    transform: scale(1.08);
}
.focus-better-section img{
    border-radius: 48px;
}
/*Get in touch Section */
.getInTouch-section{
    height: 632px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 115px;
}
.GT-title{
    font-size: 97px;
    font-weight: 700;
    color:rgba(0, 0, 0, 1) ;
}

.input-info label{
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-bottom: 18px;
}

.input1,.input2{
    height: 70px;
    width: 497px;
    border: none;
    border-radius: 10px;
    padding-left: 32px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: 400;
}
.big-area{
    height: 120px;
    width: 497px;
    border: none;
    border-radius: 10px;
    padding-left: 32px;
    padding-top: 50px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: 400;
}
.getTouch-btn{
    height: 62px;
    width: 497px;
    font-size:16px ;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
    
    transition: transform 0.5s ease;
}
.getTouch-btn:hover{
    background-color: rgb(57, 134, 175);
    transform: scale(1.08);
}
